NX_NATIVE_COMMAND_RUNNER=false

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/DATABASE_NAME?schema=public
PORT=

JWT_SECRET=
JWT_EXPIRATION_MS=

REFRESH_EXPIRATION_MS=
SESSION_REFRESH_EXPIRATION_MS=
REFRESH_TOKEN_HASH_ROUNDS=

IP_HASH_SECRET=
TRUST_PROXY=1
