{{ api_domain }} {

    @health path /auth/health
    handle @health {
        respond "Not Found" 404
    }

    @auth path /auth /auth/*
    handle @auth {
        reverse_proxy 127.0.0.1:3000
    }

    handle {
        respond "Not Found" 404
    }
}
